**1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import files
files.upload()

Saving Sales_add.csv to Sales_add.csv

{'Sales_add.csv': b'Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)\r\nMonth-1,Region - A,Manager - A,132921,270390\r\nMonth-2,Region - A,Manager - C,149559,223334\r\nMonth-3,Region - B,Manager - A,146278,244243\r\nMonth-4,Region - B,Manager - B,152167,231808\r\nMonth-5,Region - C,Manager - B,159525,258402\r\nMonth-6,Region - A,Manager - B,137163,256948\r\nMonth-7,Region - C,Manager - C,130625,222106\r\nMonth-8,Region - A,Manager - A,131140,230637\r\nMonth-9,Region - B,Manager - C,171259,226261\r\nMonth-10,Region - C,Manager - B,141956,193735\r\nMonth-11,Region - B,Manager - C,159339,203175\r\nMonth-12,Region - A,Manager - A,178939,276279\r\nMonth-13,Region - B,Manager - A,145062,205180\r\nMonth-14,Region - A,Manager - A,151514,253131\r\nMonth-15,Region - C,Manager - A,147463,229336\r\nMonth-16,Region - A,Manager - B,177195,187305\r\nMonth-17,Region - A,Manager - C,140862,234908\r\nMonth-18,Region - C,Manager - B,167996,191517\r\nMonth-19,Region - B,Manager - A,132135,227040\r\nMonth-20,Region - A,Manager - B,152493,212579\r\nMonth-21,Region - B,Manager - A,147425,263388\r\nMonth-22,Region - A,Manager - C,130263,243020'}

In [ ]:
import pandas as pd
data=pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [ ]:
data.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

In [6]:
data.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Sales_before_digital_add(in $)    147444.0
Sales_After_digital_add(in $)     229986.5
dtype: float64

In [7]:
data.mode()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,130263,187305
1,Month-10,NaN,NaN,130625,191517
2,Month-11,NaN,NaN,131140,193735
3,Month-12,NaN,NaN,132135,203175
4,Month-13,NaN,NaN,132921,205180
5,Month-14,NaN,NaN,137163,212579
6,Month-15,NaN,NaN,140862,222106
7,Month-16,NaN,NaN,141956,223334
8,Month-17,NaN,NaN,145062,226261
9,Month-18,NaN,NaN,146278,227040
10,Month-19,NaN,NaN,147425,229336
11,Month-2,NaN,NaN,147463,230637
12,Month-20,NaN,NaN,149559,231808
13,Month-21,NaN,NaN,151514,234908
14,Month-22,NaN,NaN,152167,243020
15,Month-3,NaN,NaN,152493,244243
16,Month-4,NaN,NaN,159339,253131
17,Month-5,NaN,NaN,159525,256948
18,Month-6,NaN,NaN,167996,258402
19,Month-7,NaN,NaN,171259,263388
20,Month-8,NaN,NaN,177195,270390
21,Month-9,NaN,NaN,178939,276279

In [8]:
data.var()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Sales_before_digital_add(in $)    2.203456e+08
Sales_After_digital_add(in $)     6.531489e+08
dtype: float64

In [9]:
data.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Sales_before_digital_add(in $)    14844.042921
Sales_After_digital_add(in $)     25556.777061
dtype: float64

In [10]:
data.skew()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Sales_before_digital_add(in $)    0.578033
Sales_After_digital_add(in $)    -0.022669
dtype: float64

This means the distribution is highly skewed

In [11]:
import statistics as stat

In [17]:
stat.mean(data['Sales_before_digital_add(in $)'])

149239.95454545456

In [18]:
stat.median(data['Sales_before_digital_add(in $)'])

147444.0

In [19]:
stat.mode(data['Sales_before_digital_add(in $)'])

StatisticsError: ignored

In [21]:
stat.variance(data['Sales_before_digital_add(in $)'])

220345610.23593074

In [22]:
stat.stdev(data['Sales_before_digital_add(in $)'])

14844.042920846421

**One Sample Z-test**

In [23]:
from statsmodels.stats.weightstats import ztest

In [32]:
data1=('Sales_before_digital_add(in $)')
data2=('Sales_After_digital_add(in $)')

In [40]:
import pandas as pd
data=pd.read_csv('Sales_add.csv')
dataz_stat,p_val=ztest(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],value=0)
p_val

1.3046367348248653e-38

In [43]:
if p_val<0.05:
  print('Null Hypothesis is Rejected')
else:
  print('Null Hypothesis is Accepted')

Null Hypothesis is Rejected

**2.The company needs to check whether there is any dependency between the features Region and Manager.**

H0: The variables has no relationship

HA:There is a significant link between the two

In [47]:
from scipy.stats import chi2_contingency

In [48]:
tab_data=[130263,187305]

In [49]:
chi2_contingency(tab_data)

(0.0, 1.0, 0, array([130263., 187305.]))

In [50]:
chi2_stat,p_value,dof,exp=chi2_contingency(tab_data)
p_value

1.0

In [51]:
if p_val<0.05:
  print('Null Hypothesis is Rejected')
else:
  print('Null Hypothesis is Accepted')

Null Hypothesis is Rejected